################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HambugerSample.Core/obj
/HambugerSample.Droid/obj/Debug
/HambugerSample.iOS/obj/iPhone/Debug
/packages
/.vs/HambugerSample/v15/Server/sqlite3
